[db]
host=mysql
port=3306
user=root
password=oceanai
db=face_reid
charset=utf8

[camera]
topic=grab_image
max_process_size=16

[weed]
host=weed-master
port=9333

[kafka]
boot_servers=kafka1:19092

[api]
face_server=tcp://router:5559
faiss_host=faiss-cluster
faiss_port=2344
faiss_lib_host=faiss-lib
faiss_lib_port=2345

[sys]
threshold = 0.5