[db]
host=192.168.1.11
port=3306
user=root
password=123456
db=face_reid
charset=utf8

[camera]
topic=grab_image
max_process_size=16

[weed]
host=192.168.1.6 # seaweed fs master host
port=9333 # seaweed fs master port

[kafka]
boot_servers=192.168.1.6:19092

[api]
face_server=tcp://192.168.1.11:5559
search_host=192.168.1.6
search_port=2333
faiss_host=192.168.1.6
faiss_port=2344
faiss_lib_host=192.168.1.6
faiss_lib_port=2345