<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clusters</title>
</head>
<body>
<h1>Clusters</h1>
<form action="/set" method="post">
    base_dir: <input type="text" name="base_dir" value = {{dir}} /><br/>
    redis_db: <input type="text" name="db"  value = {{db}} /><br/>
    <input type="submit" value="设置"/>
</form>
<div>
    <span>所有的类</span><br/>
    <button><a href="/delete">清空</a></button><br/>
    <button><a href="/">刷新</a></button></br>
    <button><a href="/all">查看所有类别</a> </button><br/>
    <h2>总类数：{{ size }}</h2>
    {% for cluster in clusters %}
      index: {{loop.index}} <a href="/cluster?id={{cluster}}">{{cluster}}</a> <span><a href="/del?id={{cluster}}">删除</a></span> <br>
    {% endfor %}
</div>
</body>
</html>